.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.Title {
  
}

.App-header {
  background-color: #222;
  height: 100%;
  width: 100%;
  padding: 30px;
  color: white;
  display: inline-flex;
  align-content: center
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Charts {
  height: 20%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
