<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css" type='text/css' >
  </head>
  
  <body>
      <div class="container min-100 ml-0 pl-0" id="content">
        <div class="container-fluid col-2 min-90 py-5" id="leftnav">
            <img style="width: 100%" src="/img">
            <h1 class="display-4">Orthto-Insight</h1>
            <ul class="nav flex-md-column flex-row justify-content-between pt-5">
                <li class="nav-item"><a href="/dash" class="nav-link active pl-0 py-3">Dashboard</a></li>
                <li class="nav-item"><a href="/profile" class="nav-link pl-0 py-3">Profile</a></li>
                <li class="nav-item"><a href="/about" class="nav-link pl-0 py-3">About</a></li>
            </ul>
            <p class="lead pt-5">
                <a class="btn btn-outline-secondary btn-lg" href="/" role="button">Log out!</a>
            </p>
        </div>

        <div class="container-fluid col-10 min-90 py-5" id="dashboard">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs small" role="tablist">
                        <li class="nav-item"><a class="nav-link text-uppercase active" data-toggle="tab" href="#tab1" role="tab">Activity Overview</a></li>
                        <li class="nav-item ml-auto"><a class="nav-link text-uppercase" data-toggle="tab" href="#tab2" role="tab">Graphs and Figures</a></li>
                        <li class="nav-item"><a class="nav-link text-uppercase" data-toggle="tab" href="#tab3" role="tab">Raw Data</a></li>
                    </ul>
                    <div class="tab-content py-3">
                        <div class="tab-pane active" id="tab1" role="tabpanel">
                            <h1 class="card-title display-4">Checkout your recent activity:</h1>

                        </div>
                        <div class="tab-pane" id="tab2" role="tabpanel">
                            <div class="card card-outline-primary mb-3">
                                <div class="card-block">
                                    <h3 class="card-title">Here is an update with your recent activity...</h3>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-outline-secondary">Outline</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3" role="tabpanel">
                            <h4>More content...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="card bg-faded border-0 mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Card</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                    <div class="card bg-faded border-0 mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Ad</h3>
                            <p class="card-text">Display supporters and advertisements here.</p>
                            <a href="#" class="btn btn-outline-secondary">C-T-A</a>
                        </div>
                    </div>
                    <div class="card bg-faded border-0 mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Card</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-outline-secondary">Outline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark text-white">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </footer>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js"></script>
  </body>
</html>